.widget-contenedor {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    width: 5vmax;
    font-size: 1.2vmax;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(103, 182, 53);
    border-radius: 5px;
    padding: 2px;

}

.widget-contenedor p{
    padding-left: 10px;
}